<h1> <% title "Locations" %> <%= link_to "New Target", new_target_path %></h1>
<br>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<p>
  <strong> Import data </strong>
  <%= form_tag import_locations_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "import CSV" %>
    <% end %>
</p>



<table>
  <% location= @locations.first %>
    <% location.attributes.each do |attr_name, attr_value| %>
    <th> <strong><%= attr_name.titleize %></strong></th>
    <% end %>


  <% for location in @locations %>
    <tr>
      <% location.attributes.each do |attr_name, attr_value| %>
      <% if attr_name == "listing_type" || attr_name == "sqft_type" || attr_name == "rent_price_type" || attr_name == "taxes_annual_type" || attr_name == "maintenance_type" || attr_name == "beds_type" || attr_name == "baths_type" || attr_name == "real_price_type" %>
        <td><%= attr_value.to_s[0,20] %></td>
      <% elsif attr_value.to_f.eql?(attr_value) # trying to get differnt formats for numbers and text%>
        <td><%= number_with_delimiter(attr_value.to_f.round(2), :delimiter => ',') %></td>
      <% else %>
        <td><%= attr_value.to_s[0,40] %></td>
      <% end %>

      <% end %>

      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>
<p><%= link_to "New Target", new_target_path %></p>
