<% title "Locations" %>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <% location= @locations.first %>
    <% location.attributes.each do |attr_name, attr_value| %>
    <th> <strong><%= attr_name.titleize %></strong></th>
    <% end %>

  <!--
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
-->
  <% for location in @locations %>
    <tr>
      <% location.attributes.each do |attr_name, attr_value| %>
      <% unless attr_value.to_f.eql?(attr_value) # trying to get differnt formats for numbers and text%>
        <td><%= attr_value.to_s[0,20] %></td>
      <% else %>
        <td><%= number_with_delimiter(attr_value.to_f.round(2), :delimiter => ',') %></td>
      <% end %>

      <% end %>
      <!--
      <td><%= location.address %></td>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
    -->
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>
