<% title "Location" %>
<style>
#map {
  height: 600px;
  width: 800px;

}
</style>

<% if @location.errors.full_messages.any? %>
  <% @location.errors.full_messages.each do |error_message| %>
    <%= error_message if @location.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<%= @location.errors.full_messages.first if @location.errors.any? %>


<% @location.attributes.each do |attr_name, attr_value| %>
  <% if attr_name == "listing_type" || attr_name == "sqft_type" || attr_name == "rent_price_type" || attr_name == "taxes_annual_type" || attr_name == "maintenance_type" %>
    <p><strong><%= attr_name.titleize %>:</strong> <%= attr_value.to_s[0,20] %></td></p>
  <% elsif attr_value.to_f.eql?(attr_value) # trying to get differnt formats for numbers and text%>
    <p><strong><%= attr_name.titleize %>:</strong> <%= number_with_delimiter(attr_value.to_f.round(2), :delimiter => ',') %></p>
  <% else %>
    <p><strong><%= attr_name.titleize %>:</strong> <%= attr_value %></p>

  <% end %>
<% end %>

<!--
<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @location.zipcode %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
-->

<h3>Nearby locations</h3>
<ul>
<% for location in @location.nearbys(20) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>
<!--
<p>Static Map</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@location.latitude}%2C#{@location.longitude}" %>
<br>
-->
<p>Dynamic Map</p>

<div id="map"></div>
   <script>

     function initMap() {
       var center = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
         center: center,
         zoom: 14
       });

       var infoWindow = new google.maps.InfoWindow(), marker, i;
       var markers = <%= raw @location.nearbys(20).to_json %>;

       var marker = new google.maps.Marker({
         position: center,
         map: map,
         title: "<%= @location.address %>"
       });

     }
   </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrlW5ZaUO2TYOUNbSoFLaNVRrbusorJLw&callback=initMap"
    async defer>
</script>
<!--//note the below works for 1 marker
         var marker = new google.maps.Marker({
           position: center,
           map: map,
           title: "<%= @location.address %>"
         });
         -->

         <!--// this does not work yet
                for (i=0; i< markers.length; i++){

                  var position = new google.maps.LatLng(markers[i][2], markers[i][3]);
                  bounds.extend(position);
                  marker = new google.maps.Marker({
                      position: position,
                      map: map,
                      title: markers[i][1]
                  });

                  // Allow each marker to have an info window
               //   google.maps.event.addListener(marker, 'click', (function(marker, i) {
               //       return function() {
               //           infoWindow.setContent(markers[i][1]);
               //           infoWindow.open(map, marker);


               //       }
               //   })(marker, i));

                  // Automatically center the map fitting all markers on the screen
                  map.fitBounds(bounds);

                 }
                 -->


<p>
  <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
